@import "mixins/mixins";
@import "common/var";

@include b(json-form) {
  .el-row{
    display: flex;
    flex-wrap: wrap;
  }
  .el-form-item--small.el-form-item{
    margin-bottom: 20px;
  }
  @include b(json-form-item) {
    &.is-hidden {
      display: none;
    }
    
    .el-json-form__component {
      width: 100%;
    }
    
    .el-form-item__label {
      .el-json-form__label-inner {
        display: inline-block;
        .label-inner__ellipsis {
          display: inline-block;
        }
      }
    }
  }
}